<table class="table">
    <form method="POST" action="/search">
        {% csrf_token %}

        <td>
        <td><input name="name"></td>
        <td> <button type="submit">Search</button></td>
        </td>
    </form>
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Emai</th>
    <th>Contact</th>
</tr>
{% for i in employee %}
<tr>
    <td>{{i.eid}}</td>
    <td>{{i.ename}}</td>
    <td>{{i.eemail}}</td>
    <td>{{i.econtact}}</td>
    <td>
        <a href="edit/{{i.id}}">Edit</a>
    </td>
    <td>
        <a href="delete/{{i.id}}">Delete</a>
    </td>
</tr>
{% endfor%}
</table>>